<a href="https://colab.research.google.com/github/ademirmendonca/ObtendoDadosEExibindoPythonSpark/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PySpark | hands on 1 | V1 | Ademir Mendonça
#O Objetivo deste material é estudar o framework pyspark

In [1]:
##Instalando pacotes necessários

In [2]:
from IPython.display import clear_output

!pip install --upgrade pip #atualizado o gestor de pacotes do Python
!pip install findspark
!pip install pyspark #Instalar a lib pyspark (lib = framework)

clear_output(wait=True) #Limpar a saída

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)
Collecting pip
  Downloading pip-22.0.4-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 9.4 MB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
Successfully installed pip-22.0.4
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.0/199.0 KB 24.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b9e7b24f592f9c77ac8d293daf89e2f27c09acce8301769254c958a7b363306d
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
import findspark, pyspark
from pyspark.sql import SparkSession
from pyspark import SparkFiles

## Obtendo instância do Spark

In [6]:
findspark.init()
spark = SparkSession.builder.getOrCreate()

## Lendo fonte de dados do GitHub

In [7]:
url = 'https://raw.githubusercontent.com/edsonlourenco/public_datasets/main/Carros.csv'
spark.sparkContext.addFile(url) # Faz o download do arquivo de dados
csv_cars = SparkFiles.get('Carros.csv') #retorna o path do arquivo na tmp do Linux 
df_cars = spark.read.csv(csv_cars, header=True, inferSchema=True, sep=';')

In [ ]:
df_nome_tabela = spark.read.table('db.table').limit(100) #Para ler os dados em um DB

##Checando schema

In [8]:
df_cars.printSchema()

root
 |-- Consumo: integer (nullable = true)
 |-- Cilindros: integer (nullable = true)
 |-- Cilindradas: integer (nullable = true)
 |-- RelEixoTraseiro: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Tempo: integer (nullable = true)
 |-- TipoMotor: integer (nullable = true)
 |-- Transmissao: integer (nullable = true)
 |-- Marchas: integer (nullable = true)
 |-- Carburadors: integer (nullable = true)
 |-- HP: integer (nullable = true)

## Contando os registros

In [9]:
df_cars.count() #total de rows (linhas)

32

## Exibindo os dados

In [10]:
df_cars.show(truncate=False)

+-------+---------+-----------+---------------+----+-----+---------+-----------+-------+-----------+---+
|Consumo|Cilindros|Cilindradas|RelEixoTraseiro|Peso|Tempo|TipoMotor|Transmissao|Marchas|Carburadors|HP |
+-------+---------+-----------+---------------+----+-----+---------+-----------+-------+-----------+---+
|21     |6        |160        |39             |262 |1646 |0        |1          |4      |4          |110|
|21     |6        |160        |39             |2875|1702 |0        |1          |4      |4          |110|
|228    |4        |108        |385            |232 |1861 |1        |1          |4      |1          |93 |
|214    |6        |258        |308            |3215|1944 |1        |0          |3      |1          |110|
|187    |8        |360        |315            |344 |1702 |0        |0          |3      |2          |175|
|181    |6        |225        |276            |346 |2022 |1        |0          |3      |1          |105|
|143    |8        |360        |321            |357 |1584 |0        |0          |3      |4          |245|
|244    |4        |1467       |369            |319 |20   |1        |0          |4      |2          |62 |
|228    |4        |1408       |392            |315 |229  |1        |0          |4      |2          |95 |
|192    |6        |1676       |392            |344 |183  |1        |0          |4      |4          |123|
|178    |6        |1676       |392            |344 |189  |1        |0          |4      |4          |123|
|164    |8        |2758       |307            |407 |174  |0        |0          |3      |3          |180|
|173    |8        |2758       |307            |373 |176  |0        |0          |3      |3          |180|
|152    |8        |2758       |307            |378 |18   |0        |0          |3      |3          |180|
|104    |8        |472        |293            |525 |1798 |0        |0          |3      |4          |205|
|104    |8        |460        |3              |5424|1782 |0        |0          |3      |4          |215|
|147    |8        |440        |323            |5345|1742 |0        |0          |3      |4          |230|
|324    |4        |787        |408            |22  |1947 |1        |1          |4      |1          |66 |
|304    |4        |757        |493            |1615|1852 |1        |1          |4      |2          |52 |
|339    |4        |711        |422            |1835|199  |1        |1          |4      |1          |65 |
+-------+---------+-----------+---------------+----+-----+---------+-----------+-------+-----------+---+
only showing top 20 rows

##Selecionando uma coluna

In [11]:
df_cars.select('Tempo').show(truncate=False)

+-----+
|Tempo|
+-----+
|1646 |
|1702 |
|1861 |
|1944 |
|1702 |
|2022 |
|1584 |
|20   |
|229  |
|183  |
|189  |
|174  |
|176  |
|18   |
|1798 |
|1782 |
|1742 |
|1947 |
|1852 |
|199  |
+-----+
only showing top 20 rows

## Selecionando Multiplas colunas

In [12]:
cols = ['Tempo', 'RelEixoTraseiro', 'Transmissao']
df_cars.select(cols).show(truncate=False)

+-----+---------------+-----------+
|Tempo|RelEixoTraseiro|Transmissao|
+-----+---------------+-----------+
|1646 |39             |1          |
|1702 |39             |1          |
|1861 |385            |1          |
|1944 |308            |0          |
|1702 |315            |0          |
|2022 |276            |0          |
|1584 |321            |0          |
|20   |369            |0          |
|229  |392            |0          |
|183  |392            |0          |
|189  |392            |0          |
|174  |307            |0          |
|176  |307            |0          |
|18   |307            |0          |
|1798 |293            |0          |
|1782 |3              |0          |
|1742 |323            |0          |
|1947 |408            |1          |
|1852 |493            |1          |
|199  |422            |1          |
+-----+---------------+-----------+
only showing top 20 rows

## Melhorando a identação do código

In [15]:
cols = ['Tempo', 'RelEixoTraseiro', 'Transmissao']
df_cars.orderBy('Tempo').select(cols).show(truncate=False)

+-----+---------------+-----------+
|Tempo|RelEixoTraseiro|Transmissao|
+-----+---------------+-----------+
|18   |307            |0          |
|20   |369            |0          |
|145  |422            |1          |
|146  |354            |1          |
|155  |362            |1          |
|167  |443            |1          |
|169  |377            |1          |
|173  |315            |0          |
|174  |307            |0          |
|176  |307            |0          |
|183  |392            |0          |
|186  |411            |1          |
|189  |392            |0          |
|189  |408            |1          |
|199  |422            |1          |
|229  |392            |0          |
|1541 |373            |0          |
|1584 |321            |0          |
|1646 |39             |1          |
|1687 |276            |0          |
+-----+---------------+-----------+
only showing top 20 rows

In [16]:
cols = ['Tempo', 'RelEixoTraseiro', 'Transmissao']
(
    df_cars
    .orderBy('Tempo')
    .select(cols)
    .show(truncate=False)
)

+-----+---------------+-----------+
|Tempo|RelEixoTraseiro|Transmissao|
+-----+---------------+-----------+
|18   |307            |0          |
|20   |369            |0          |
|145  |422            |1          |
|146  |354            |1          |
|155  |362            |1          |
|167  |443            |1          |
|169  |377            |1          |
|173  |315            |0          |
|174  |307            |0          |
|176  |307            |0          |
|183  |392            |0          |
|186  |411            |1          |
|189  |392            |0          |
|189  |408            |1          |
|199  |422            |1          |
|229  |392            |0          |
|1541 |373            |0          |
|1584 |321            |0          |
|1646 |39             |1          |
|1687 |276            |0          |
+-----+---------------+-----------+
only showing top 20 rows

## Agrupamento

In [18]:
from pyspark.sql import functions as F

df_cars.groupBy('Cilindros').agg(F.count("*").alias("Quantidade")).show()

+---------+----------+
|Cilindros|Quantidade|
+---------+----------+
|        6|         7|
|        4|        11|
|        8|        14|
+---------+----------+

## Melhorando o código acima

In [ ]:
from pyspark.sql import functions as F

(
    df_cars
    .groupBy('Cilindros')
    .agg(F.count("*")
    .alias("Quantidade"))
    .show() 
)

## Efetuando somas

In [20]:
from pyspark.sql import functions as F
(
    df_cars
          .groupBy("TipoMotor")
          .agg(F.sum("Peso").alias("Peso_Total"))
          .orderBy("TipoMotor")
          .select(F.lit("Carros").alias("Categoria"),
                  F.col("TipoMotor"),
                  F.col("Peso_Total")                  
          )
          .show()
)

+---------+---------+----------+
|Categoria|TipoMotor|Peso_Total|
+---------+---------+----------+
|   Carros|        0|     25471|
|   Carros|        1|     14778|
+---------+---------+----------+

## Calculando a média

In [21]:
from pyspark.sql import functions as F
(
    df_cars
          .groupBy("TipoMotor")
          .agg(F.avg("Peso").alias("Peso_Total"))
          .orderBy("TipoMotor")
          .select(F.lit("Carros").alias("Categoria"),
                  F.col("TipoMotor"),
                  F.col("Peso_Total")                  
          )
          .show()
)

+---------+---------+------------------+
|Categoria|TipoMotor|        Peso_Total|
+---------+---------+------------------+
|   Carros|        0|1415.0555555555557|
|   Carros|        1|1055.5714285714287|
+---------+---------+------------------+

## Extraindo a média (avg - )

In [22]:
from pyspark.sql import functions as F
(
    df_cars
          .groupBy("TipoMotor")
          .agg(F.avg("Cilindradas").alias("Peso_Total"))
          .orderBy("TipoMotor")
          .select(F.lit("Carros").alias("Categoria"),
                  F.col("TipoMotor"),
                  F.col("Peso_Total")                  
          )
          .show()
)

+---------+---------+-----------------+
|Categoria|TipoMotor|       Peso_Total|
+---------+---------+-----------------+
|   Carros|        0|            781.0|
|   Carros|        1|816.0714285714286|
+---------+---------+-----------------+

In [ ]:
## Conversão de tipo

In [24]:
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType
(
    df_cars
          .groupBy("TipoMotor")
          .agg(F.avg("Cilindradas").cast(IntegerType()).alias("Peso_Total"))
          .orderBy("TipoMotor")
          .select(F.lit("Carros").alias("Categoria"),
                  F.col("TipoMotor"),
                  F.col("Peso_Total")                  
          )
          .show()
)

+---------+---------+----------+
|Categoria|TipoMotor|Peso_Total|
+---------+---------+----------+
|   Carros|        0|       781|
|   Carros|        1|       816|
+---------+---------+----------+

## Resultado com duas casas decimais

In [25]:
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, DecimalType
(
    df_cars
          .groupBy("TipoMotor")
          .agg(F.avg("Cilindradas").cast(DecimalType(10,2)).alias("Peso_Total"))
          .orderBy("TipoMotor")
          .select(F.lit("Carros").alias("Categoria"),
                  F.col("TipoMotor"),
                  F.col("Peso_Total")                  
          )
          .show()
)

+---------+---------+----------+
|Categoria|TipoMotor|Peso_Total|
+---------+---------+----------+
|   Carros|        0|    781.00|
|   Carros|        1|    816.07|
+---------+---------+----------+

## Filtrando os dados

In [27]:
from pyspark.sql import functions as F

df_cars.filter(F.col("TipoMotor") == 1).show(truncate=False)

+-------+---------+-----------+---------------+----+-----+---------+-----------+-------+-----------+---+
|Consumo|Cilindros|Cilindradas|RelEixoTraseiro|Peso|Tempo|TipoMotor|Transmissao|Marchas|Carburadors|HP |
+-------+---------+-----------+---------------+----+-----+---------+-----------+-------+-----------+---+
|228    |4        |108        |385            |232 |1861 |1        |1          |4      |1          |93 |
|214    |6        |258        |308            |3215|1944 |1        |0          |3      |1          |110|
|181    |6        |225        |276            |346 |2022 |1        |0          |3      |1          |105|
|244    |4        |1467       |369            |319 |20   |1        |0          |4      |2          |62 |
|228    |4        |1408       |392            |315 |229  |1        |0          |4      |2          |95 |
|192    |6        |1676       |392            |344 |183  |1        |0          |4      |4          |123|
|178    |6        |1676       |392            |344 |189  |1        |0          |4      |4          |123|
|324    |4        |787        |408            |22  |1947 |1        |1          |4      |1          |66 |
|304    |4        |757        |493            |1615|1852 |1        |1          |4      |2          |52 |
|339    |4        |711        |422            |1835|199  |1        |1          |4      |1          |65 |
|215    |4        |1201       |37             |2465|2001 |1        |0          |3      |1          |97 |
|273    |4        |79         |408            |1935|189  |1        |1          |4      |1          |66 |
|304    |4        |951        |377            |1513|169  |1        |1          |5      |2          |113|
|214    |4        |121        |411            |278 |186  |1        |1          |4      |2          |109|
+-------+---------+-----------+---------------+----+-----+---------+-----------+-------+-----------+---+